@model WebApplication5.Models.ViewModels.TrashViewModel

@foreach (var item in Model.DishNameAndCount)
{
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
}